* {
	margin: 0px;
	padding: 0px;
}

:root {
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-desaturated-cyan: hsl(167, 40%, 24%);
	--dark-blue: hsl(198, 62%, 26%);
	--dark-moderate-cyan: hsl(168, 34%, 41%);
	--very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
}

body {
	font-size: 18px;
}

header {
	background-image: url(./images/mobile/image-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8% 5%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav button {
	display: inline-block;
	padding: 0.25rem 0rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 0px;
	transition: box-shadow 0.15s ease-in-out;
}

.triangle {
	width: 0;
	height: 0;
	border-bottom: 25px solid var(--white);
	border-left: 25px solid transparent;
	align-self: flex-end;
}

.menu {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 5rem;
	z-index: 1041;
	width: 90%;
}

.show {
	display: flex;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 15% 0%;
	background-color: var(--white);
	margin-top: -0.1rem;
}

.nav-links ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	list-style: none;
	font-family: "Barlow";
	font-weight: 600;
	color: var(--very-dark-grayish-blue);
	gap: 2.5rem;
}

.menu-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(./images/icon-hamburger.svg);
}

.heading {
	text-align: center;
	margin-top: 25%;
	margin-bottom: 10%;
}

.heading-content {
	color: var(--white);
	font-family: "Fraunces 9pt Black";
	font-size: 2.6rem;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
}

.arrow {
	text-align: center;
	margin-bottom: 10%;
}

.flex {
	display: flex;
}

.img {
	width: 100%;
	height: 100%;
}

.text-section {
	background: hsl(7, 99%, 70%, 0.1);
	padding: 18% 5%;
	text-align: center;
}

.headline {
	font-family: "Fraunces 9pt Black";
	font-size: 2.2rem;
	color: var(--very-dark-desaturated-blue);
	font-weight: 900;
}

.text-section p {
	margin-top: 10%;
	font-family: "Barlow";
	font-weight: 600;
	color: var(--dark-grayish-blue);
	line-height: 1.7;
	font-size: 1.15rem;
	margin-bottom: 2.5rem;
}

.learn-more {
	font-family: "Fraunces 9pt Black";
	text-transform: uppercase;
	font-weight: 700;
	color: var(--very-dark-desaturated-blue);
	word-spacing: 0.3rem;
}

.underline {
	background-color: hsl(51, 100%, 49%, 0.3);
	border: 1px transparent;
	border-radius: 0.4rem;
	height: 0.6rem;
	margin-top: -0.5rem;
	margin-left: auto;
	margin-right: auto;
	width: 9rem;
}

.underline-pink {
	background-color: hsl(7, 99%, 70%, 0.3);
}

.graphic-design {
	display: flex;
	background-image: url(./images/mobile/image-graphic-design.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

.graphic-design .text-section {
	align-self: flex-end;
	padding: 18% 3%;
	color: var(--dark-desaturated-cyan);
	background-color: transparent;
}

.graphic-design .text-section p {
	font-size: 1rem;
	color: var(--dark-desaturated-cyan);
	margin-bottom: 0;
	margin-top: 2.2rem;
}

.photography {
	display: flex;
	background-image: url(./images/mobile/image-photography.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

.photography .text-section {
	align-self: flex-end;
	padding: 18% 3%;
	color: var(--dark-blue);
	background-color: transparent;
}

.photography .text-section p {
	font-size: 1rem;
	color: var(--very-dark-desaturated-blue);
	margin-bottom: 0;
	margin-top: 2.2rem;
}

.testimonials {
	background-color: hsl(7, 99%, 70%, 0.05);
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 18%;
	padding-bottom: 22%;
	text-align: center;
}

.testimonials-heading {
	font-family: "Fraunces 9pt Black";
	font-weight: 700;
	color: var(--grayish-blue);
	letter-spacing: 0.2rem;
}

.clients img {
	width: 5rem;
	border: 1px transparent;
	border-radius: 50%;
}

.client {
	margin-top: 4rem;
}

.quote {
	margin-top: 2rem;
	font-family: "Barlow";
	font-weight: 600;
	color: var(--very-dark-grayish-blue);
	line-height: 1.7;
	font-size: 1.15rem;
}

.name {
	font-family: "Fraunces 9pt Black";
	font-weight: 700;
	margin-top: 2rem;
}

.role {
	margin-top: 1rem;
	font-family: "Barlow";
	font-weight: 600;
	color: var(--grayish-blue);
	font-size: 1.05rem;
}

.collage {
	height: 380px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

footer {
	background-color: hsla(168, 34%, 41%, 0.6);
	padding: 20% 5%;
	text-align: center;
	color: var(--dark-desaturated-cyan);
}

.links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 3rem;
	font-family: "Barlow";
	color: var(--dark-moderate-cyan);
	font-weight: 600;
}

.contacts {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.contacts img {
	vertical-align: middle;
}

.btn {
	cursor: pointer;
	border: 0;
	border-radius: 1.5rem;
	padding: 0.75em 1.5em;
	font-family: "Fraunces 9pt Black";
	font-weight: 700;
	font-size: 1rem;
	color: black;
	background-color: var(--yellow);
	text-transform: uppercase;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media only screen and (min-width: 600px) {
	header {
		padding: 3%;
		background-image: url(./images/desktop/image-header.jpg);
		background-size: cover;
		background-position: center;
		height: 100vh;
	}

	nav button {
		display: none;
	}

	.menu {
		display: flex;
		flex-direction: row;
		position: static;
		top: 0;
		z-index: 1;
		width: auto;
	}

	.nav-links {
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		padding: 0;
		background-color: transparent;
		margin: 0;
	}

	.triangle {
		display: none;
	}

	.nav-links ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		list-style: none;
		font-family: "Barlow";
		font-weight: 600;
		font-size: 1rem;
		color: var(--white);
		gap: 2.5rem;
	}

	.btn {
		display: inline-block;
		background-color: var(--white);
		font-size: 0.9rem;
	}

	.heading {
		margin-top: 10%;
		margin-bottom: 6%;
	}

	.main-grid {
		display: grid;
		grid-template-rows: repeat(2, 1fr) 540px;
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-item-1 {
		grid-row: 1;
		grid-column: 1;
	}

	.grid-item-2 {
		grid-row: 1;
		grid-column: 2;
	}

	.grid-item-3 {
		grid-row: 2;
		grid-column: 1;
	}

	.grid-item-4 {
		grid-row: 2;
		grid-column: 2;
	}

	.text-section {
		text-align: left;
		padding: 18% 21%;
	}

	.text-section p {
		font-size: 0.97rem;
	}

	.underline {
		width: 8.2rem;
		margin-left: 0;
		margin-right: 0;
	}

	.graphic-design {
		background-image: url(./images/desktop/image-graphic-design.jpg);
		height: auto;
	}

	.photography {
		background-image: url(./images/desktop/image-photography.jpg);
		height: auto;
	}

	.graphic-design .text-section {
		padding: 10% 23%;
		text-align: center;
	}

	.photography .text-section {
		padding: 10% 23%;
		text-align: center;
	}

	.testimonials {
		padding: 10% 6%;
	}

	.clients {
		display: flex;
		gap: 2rem;
		margin-top: 1.2rem;
	}

	.collage {
		display: flex;
		height: auto;
	}

	.collage div {
		width: 25%;
	}

	footer {
		padding: 10% 5%;
	}

	.links {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.btn:hover {
		color: var(--white);
		background-color: hsl(0, 0%, 100%, 0.3);
	}

	.text-section a {
		display: inline-block;
		text-align: center;
		font-size: 1rem;
	}

	#learn-more-1:hover > div {
		background-color: var(--yellow);
	}

	#learn-more-2:hover > div {
		background-color: var(--soft-red);
	}

	a {
		cursor: pointer;
	}

	.links a:hover {
		color: var(--white);
	}

	.contacts a:hover > img {
		filter: brightness(0) invert(1);
	}
}
